:root {
    --gutter-width: 30px;
    --gutter-compensation: calc(var(--gutter-width) * -1);
    --half-gutter-width: calc(var(--gutter-width) * 0.5);
    --half-gutter-compensation: calc(var(--half-gutter-width) * -1);
    --grid-section-margin: 50px;
}

.container {
    width: 100%;
    max-width: var(--site-width);
    padding-right: var(--half-gutter-width);
    padding-left: var(--half-gutter-width);

    &--fluid {
        max-width: none;
    }
}

.container--fluid,
.container {
    margin-right: auto;
    margin-left: auto;
}
